# JENGA SCHOOL OF DATA SCIENCE AND AI



### CRISP-DM METHODOLODY FOR AIR QUALITY TRACKING IN NAIROBI, KENYA


### SIFA KINOTI


### SUPERVISOR: DR. LAWRENCE NDERU







#### AUGUST 2022

### Table of Contents

* [1. Overview](#Overview)

* [2. CRISP-DM Methodology](#CRISP_DM_Methodology)
    
* [3. Business Understanding](#Business_Understanding)
    * [3.1 Business Objectives](#Business_Objectives)
    * [3.2 Resources availability](#Resources_availability)
    * [3.3 Risks and contingencies](#Risks_and_contingencies)
    * [3.4 Data mining goals](#Data_mining_goals)
    * [3.5 Project plan](#Project_plan)
    
* [4. Data Understanding](#Data_Understanding)
    * [4.1 Collect initial data](#Collect_initial_data)
    * [4.2 Describe data](#Describe_data)
    * [4.3 Explore data](#Explore_data)
    * [4.4 Verify data quality](#Verify_data_quality)
    
* [5. Data Preparation](#Data_Preparation)
    * [5.1 Data cleaning](#Data_cleaning)
    * [5.2 Data construction](#Data_construction)
    * [5.3 Data integration](#Data_integration)
    
* [6. Preparing the model](#Preparing_the_model)
    * [6.1 Selecting the modelling technique](#Selecting_the_modelling_technique)
    * [6.2 Generating the test design](#Generating_the_test_design)
    * [6.3 Building the model](#Building_the_model)
    * [6.4 Assessing the model](#Assessing_the_model)

* [7. Model Evaluation](#Model_Evaluation)
    * [7.1 Evaluating the results](#Evaluating_the_results)
    * [7.2 Reviewing the process](#Reviewing_the_process)
    * [7.3 Determining the next steps](#Determining_the_next_steps)
    * [7.4 Assessing the model](#Assessing_the_model)

* [8. Model deployment](#Model_deployment)
    * [8.1 Planning the deployment](#Planning_the_deployment)
    * [8.2 Planning the monitoring and maintenance](#Planning_the_monitoring_and_maintenance)
    * [8.3 Producing the final report](#Producing_the_final_report)
    * [8.4 Presenting the project](#Presenting_the_project)

### 1. Overview <a class="anchor" id="Overview"></a>

Clean air is essential to the wellbeing of our planet and its inhabitants as all living beings require it for survival. Unfortunately, over the years, our air has become dirtier through human activities, consequently negatively affecting the environment, global health and economy. The World Health Organization (WHO) reports on six major air pollutants, namely particle pollution/ particulate matter (PM), ground-level ozone, carbon monoxide, sulphur oxides, nitrogen oxides, and lead. These pollutants majorly emanate from transport related emmissions (cars, planes, ships), burning of fossil fuels in industrial plants and homesteads, wastewaters and metals, agriculture and chemical reactions between the different pollutants. Other significant sources of pollution include Volatile Organic Compounds (VOCs), methane, dust and aerosols.

Air pollution is the major cause of climate change, which according to the World Economic Forum, is the biggest challenge of the 21st century. The Global Risks Report of 2022 reports that climate-change related risks account for three of the top risks by severity in the next 10 years. Clearly, climate change is a real threat to the global economy, and scaling down, it is also a major threat to the Kenyan economy. Furthermore, the WHO reports that an average of 7 million people a year die from air pollution complications. Exposure to high levels of air pollution increases the risk of heart diseases, neurological disorders, lung cancer and respiratory infections. It has also been related to excessive premature mortality. It has been found that exposure to air pollution also negatively affects our cognitive ability, decision making, risk attitude and dementia.

In order to combat air pollution, we need to understand the pollutants in the air at a given time, where they come from and their long term effects. With such knowledge, we should be able to give suggestions to improve the situation. However, without knowing which pollutants are present, in which quantities and locations, one may not be able to suggest a proper solution. In the developed world, most of the solutions to beating air pollution revolve around cutting down on fossil fuel consumption. They do this by switching to greener forms of energy for their transport and electricity needs. This comes after the realization that most of the pollution present comes from coal plantations. (on biases add on indoor pollution, assumption of switching to greener sources of energy, assumption of zones of high pollution, areas of construction pollution) In Nairobi, Kenya, however, data on air pollution is scarse, therefore we are not in the best poisiton to draw the most useful insights. Through this project, we hope to raise awareness and scale up efforts in air pollution tracking in the city.

This data science project, therefore, seeks to analyse the air pollution in Nairobi, Kenya. We will analyse previous data containing the level of pollutants as well as mapping air quality in the city. We will be able to identify the major pollutants and where most of the pollution comes from. We will also build a predictive model, to be able to predict the air quality. This project can be applied by law and policy making bodies when making decisions related to air quality management as well as curious citizens who are interested to know the state of the air they breathe. Through deeper analysis we should be able to recommend solutions to air pollution in Nairobi. We should also be able to track the effects of air pollution in the city eventally.

We will source our data from the following websites: first is sensor Africa. They provide open source sensor data on air quality, specifically measuring PM2.5 values across Africa. We also have OpenAq, which is also an open source sensor data on air quality across the world measuring different pollutants. Finally we have the World Development Indicators databank developed by World Bank. Eventually, we will incorporate Sentinel 5P data from Copernicus, which is open sourse satellite data on air pollution.

## 2. CRISP-DM Methodology  <a class="anchor" id="CRISP_DM_Methodology"></a>


Crisp–DM is a widely used framework that stands for Cross Industry Standard Process for Data Mining. As the name suggests, it is a standard process for managing data science projects. It is a uniform framework that can be implemented in any data science project and allows for project replication. CRISP-DM is organized into six tasks, as you will see in this document. 

The first is business understanding, where the business goals and data mining goals are underlined. Second is data understanding where the data needed for the project is collected, described and explored in order to understand it and verify its quality to be used in the project. Third is data preparation where the data is prepared for modelling through cleaning, merging and other techniques. Fourth is preparing the model, where a suitable alorithm is chosen, built and tested. Fifth is evaluation where the results of the model are evaluated and the process is reviewed. Finally we have deployment where the model is prapared to be deployed in the industry. 

The benefits of using this framework is that it organizes one's workflow by breaking down the objectives into smaller and more specific and time bound tasks. CRISP-DM is cost effective and thus recommended as best practice.

## 3. Business Understanding <a class="anchor" id="Business_Understanding"></a>


### 3.1 Business Objectives <a class="anchor" id="Business_Objectives"></a>

This project aims to map and track air quality in Nairobi, Kenya. Through this project, a user should be able to identify and track various pollutants in the city. They should also be able to see how air quality in the city has changed over time. The user will be able to identify zones of high pollution and draw conclusion on how to combat pollution within the city. This will be enabled through an interactive web app. The project is part of air quality management process as it will visualize data that concerned citizens and policy makers can draw useful insights for in the fight against air pollution. With time, the project will be made open-source so as to invite collaborators to make the tracker more insightful.

### 3.2 Resources availability <a class="anchor" id="Resources_availability"></a>

The biggest resource needed is data. We will incorporate different kinds of data in this project including but not limited to: open source sensor data, world air quality tracking data, Sentinel 5P data, geodata in order to locate features such as transport systems, industries, homesteads and global air quality indices.

### 3.3 Risks and contingencies <a class="anchor" id="Risks_and_contingencies"></a>

The risks present in conducting this project include not getting sufficient data. This is especially likely for real time data across different locations in Nairobi. There is also a risk of not getting all pollutant data as PM 2.5 and CO2 data is more available than other pollutant data. This can lead to biased conclusions. The project, being long-term, presents a risk of being too advanced for my level of expertise. To curb these risks the project will be made open source afrer the presentation. 

### 3.4	Data mining goals <a class="anchor" id="Data_mining_goals"></a>

The goal of the project is to develop a web app that will visualise, analyze and predict air quality in Nairobi. We will develop a map of Nairobi that will identify the different pollutants in the air at a given time. We will conduct analysis through linear regression models so as to understand the trend of air pollution in the city. We will also predict the air quality status of the next day, given certain parameters. On the webiste we shall give the comparison between the accepted air quality index and the real time index. Through the website, law and policy makers can draw useful insights on how to mitigate air pollution in the city.

###  3.5 Project plan <a class="anchor" id="Project_Plan"></a>
    
| OBJECTIVES                                 | TASKS                                                                                                                                                                                                                                                                                                                                                                                                                                   | TIMELINE |   |   |
|--------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------|---|---|
| Researching on air pollution metrics       | -Reading academic papers on air quality management to understand the different pollutants and the metrics used in gauging air quality<br>-Consulting an expert in the field on air pollution and the various ways this project could be of benefit<br>-Attending at least 1 webinar/ training on air quality management<br>-Enrol in a short online course (e.g. on coursera, udemy) in order to understand air quality mapping better* | 5 weeks  |   |   |
| Researching on deep learning architectures | -Read articles on the various deep learning algorithms experimented with in the past<br>-Learn the various new deep learning algorithms previously not encountered<br>-Consult a specialist on the same<br>-Research on algorithms dealing with spatio-temporal mapping, satellite imagery and air pollution                                                                                                                            | 4 weeks  |   |   |
| Data Understanding                         | -Collecting the data<br>-Exploring the data<br>-Describing the data<br>-Verifying the data quality                                                                                                                                                                                                                                                                                                                                      | 3 weeks  |   |   |
| Data Preparation                           | -Data cleaning<br>-Data construction<br>-Data integration                                                                                                                                                                                                                                                                                                                                                                               | 3 weeks  |   |   |
| Preparing the model                        | -Selecting the modelling technique<br>-Generating the test design<br>-Building the model<br>-Assessing the model                                                                                                                                                                                                                                                                                                                        | 6 weeks  |   |   |
| Model Evaluation                           | -Evaluating the results<br>-Reviewing the process <br>-Determining the next steps                                                                                                                                                                                                                                                                                                                                                       | 2 weeks  |   |   |
| Model deployment                           | -Planning the deployment<br>-Planning the monitoring and maintenance<br>-Producing the final report<br>-Presenting the project                                                                                                                                                                                                                                                                                                          | 2 weeks  |   |   |

## 4. Data Understanding <a class="anchor" id="Data_Understanding"></a>
In this sector, we are going to visualize the data, plot the coordinates, identify outliers, plot timeseries graphs, identify patterns in the data.

### 4.1 Collect initial data <a class="anchor" id="Collect_initial_data"></a>

In [1]:
# import the necessary packages
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
#import aqi
from decimal import Decimal

In [2]:
# read November sensor data csv
nov21 = pd.read_csv("november_2021_sensor_data_archive.csv", sep = ';')

In [3]:
# read December Sensor Data csv
dec21 = pd.read_csv("december_2021_sensor_data_archive.csv", sep = ';')

In [4]:
# read January Sensor Data csv
jan22 = pd.read_csv("january_2022_sensor_data_archive (1).csv", sep = ';')

In [5]:
# read February Sensor csv
feb22 = pd.read_csv("february_2022_sensor_data_archive.csv", sep = ';')

In [6]:
# read March Sensor csv
march22 = pd.read_csv("march_2022_sensor_data_archive.csv", sep = ';')

In [7]:
# read April Sensor csv
april22 = pd.read_csv("april_2022_sensor_data_archive.csv", sep = ';')

In [8]:
# read May Sensor csv
may22 = pd.read_csv("may_2022_sensor_data_archive.csv", sep = ';')

In [9]:
# read June Sensor csv
june22 = pd.read_csv("june_2022_sensor_data_archive.csv", sep = ';')

In [10]:
# read July Sensor csv
july22 = pd.read_csv("july_2022_sensor_data_archive.csv", sep = ';')

In [11]:
# read August Sensor csv
aug22 = pd.read_csv("august_2022_sensor_data_archive.csv", sep = ';')

In [12]:
# read September Sensor csv
sept22 = pd.read_csv("september_2022_sensor_data_archive.csv", sep = ';')

In [13]:
# read October Sensor csv
oct22 = pd.read_csv("october_2022_sensor_data_archive.csv", sep = ';', low_memory = False)

In [14]:
# read November 2022 Sensor csv
nov22 = pd.read_csv("november_2022_sensor_data_archive.csv", sep = ';')

In [15]:
sensor_data = pd.concat([nov21, dec21, jan22, feb22, march22, april22, may22, june22, july22, aug22, sept22, oct22, nov22])

### 4.2 Describe data <a class="anchor" id="Describe_data"></a>
In this space, we shall describe the collected data

In [16]:
sensor_data.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value
0,71,pms5003,35,-1.297,36.743,2021-11-01T00:00:16.023904+00:00,P2,13.6
1,71,pms5003,35,-1.297,36.743,2021-11-01T00:00:16.023904+00:00,P1,13.6
2,71,pms5003,35,-1.297,36.743,2021-11-01T00:00:16.023904+00:00,P0,7.0
3,158,pms5003,33,-1.255,36.693,2021-11-01T00:00:16.320020+00:00,P2,72.0
4,158,pms5003,33,-1.255,36.693,2021-11-01T00:00:16.320020+00:00,P1,87.2

In [20]:
sensor_data.describe()

          sensor_id      location           lat           lon
count  1.200392e+07  1.200392e+07  1.200392e+07  1.200392e+07
mean   1.950063e+02  8.551839e+02 -1.309095e+00  3.684130e+01
std    4.187444e+02  1.488441e+03  5.229185e-02  6.688591e-02
min    4.900000e+01  7.000000e+00 -1.421000e+00  3.669300e+01
25%    8.800000e+01  1.800000e+01 -1.303000e+00  3.682100e+01
50%    9.400000e+01  4.600000e+01 -1.292000e+00  3.682500e+01
75%    1.580000e+02  7.800000e+01 -1.289000e+00  3.688700e+01
max    4.789000e+03  3.580000e+03 -1.206000e+00  3.695300e+01

In [21]:
sensor_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12003919 entries, 0 to 719589
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   sensor_id    int64
 1   sensor_type  object
 2   location     int64
 3   lat          float64
 4   lon          float64
 5   timestamp    object
 6   value_type   object
 7   value        object
dtypes: float64(2), int64(2), object(4)
memory usage: 824.2+ MB

In [22]:
# Checking the missing values
sensor_data.isnull().sum()

sensor_id      0
sensor_type    0
location       0
lat            0
lon            0
timestamp      0
value_type     0
value          0
dtype: int64

In [23]:
# look for duplicate values
data_duplicates = sensor_data.duplicated()
print("duplicates sum ", data_duplicates.sum())

duplicates sum  0

In [24]:
# shape
sensor_data.shape

(12003919, 8)

In [17]:
# convert data datetime
sensor_data['timestamp'] = sensor_data['timestamp'].astype("datetime64")

In [18]:
# rename the value types
sensor_data['value_type'] = sensor_data['value_type'].replace(['P2', 'P1', 'P0'], ['PM10', 'PM2.5', 'PM1'])

In [27]:
# find out how many locations are in the data
locations= sensor_data['location'].unique()
counted= sensor_data['location'].nunique()
print('data locations: ',locations, 'count: ', counted)

data locations:  [  35   33   18   46   76   37   77   71    7   67   78   40 3573 3576
 3579 3580   34] count:  17

In [28]:
# create a dataframe with just locations to plot
loc_df = sensor_data.groupby(['location','lat', 'lon']).agg(lambda x: ','.join(x.unique())).reset_index()
loc_df

C:\Users\a\AppData\Local\Temp\ipykernel_5324\941262069.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  loc_df = sensor_data.groupby(['location','lat', 'lon']).agg(lambda x: ','.join(x.unique())).reset_index()

,location,lat,lon,sensor_type,value_type
0,7,-1.298,36.791,"DHT22,pms5003,SDS011","humidity,temperature,PM10,PM2.5,PM1"
1,18,-1.292,36.821,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
2,33,-1.255,36.693,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
3,34,-1.206,36.781,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
4,35,-1.297,36.743,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
5,37,-1.316,36.870,"SDS011,DHT22,pms5003","PM10,PM2.5,humidity,temperature,PM1"
6,40,-1.293,36.769,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
7,46,-1.218,36.887,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
8,67,-1.383,36.939,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
9,71,-1.261,36.772,"DHT22,SDS011","humidity,temperature,PM10,PM2.5"
10,76,-1.261,36.782,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
11,77,-1.270,36.801,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
12,78,-1.421,36.953,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
13,3573,-1.289,36.825,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
14,3576,-1.265,36.857,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
15,3579,-1.239,36.791,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"
16,3580,-1.303,36.829,"pms5003,DHT22","PM10,PM2.5,PM1,humidity,temperature"

In [29]:
# plot and rename locations
plot_locations = px.scatter_mapbox(loc_df, 
                                lat='lat', 
                                lon='lon', 
                                color='location',
                                zoom=9, 
                                mapbox_style='open-street-map')
plot_locations.show()

In [19]:
# rename the locations
sensor_data['location'] = sensor_data['location'].replace([33, 18, 37, 77, 76, 46,35,7, 71, 67, 78, 40, 34, 3579, 3573, 3576, 3580], 
                                              ['kinoo','haile_sellasie','mukuru','kileleshwa', 'muthangari','roysambu', 
                                               'riruta', 'ngong_rd', 'lavington', 'syokimau', 'mlolongo', 
                                               'valley_arcade', 'ruaka', 'new_muthaiga', 'harambee_avenue', 'mathare', 'langata'])

In [20]:
# add day column
sensor_data['day'] = sensor_data['timestamp'].dt.day_name()

In [21]:
# add time clasification column
sensor_data['hour'] = sensor_data['timestamp'].dt.hour
def time_class(x):
    if (x > 4) and (x <= 8):
        return 'Early Morning'
    elif (x > 8) and (x <= 12 ):
        return 'Morning'
    elif (x > 12) and (x <= 16):
        return'Noon'
    elif (x > 16) and (x <= 20) :
        return 'Evening'
    elif (x > 20) and (x <= 24):
        return'Night'
    elif (x <= 4):
        return'Late Night'
    
sensor_data['time'] = sensor_data['hour'].apply(time_class)

In [33]:
# match sensor id to sensor type

# loc sds011
SDS011= sensor_data.loc[(sensor_data['sensor_type'] == 'SDS011')]

# count unique values in the sensor id
print('SDS011 sensor ids: \n', SDS011['sensor_id'].value_counts())

#count unique values in value type
print('\n SDS011 value type: \n', SDS011['value_type'].value_counts())

# location for sds011
print('SDS011 locations: \n', SDS011['location'].unique())

SDS011 sensor ids:
 103    123680
109        28
Name: sensor_id, dtype: int64

 SDS011 value type:
 PM10     61854
PM2.5    61854
Name: value_type, dtype: int64
SDS011 locations:
 ['mukuru' 'lavington' 'ngong_rd']

In [34]:
# match sensor id to sensor type

# loc DHT22
DHT22= sensor_data.loc[(sensor_data['sensor_type'] == 'DHT22')]

# count unique values in the sensor id
print('DHT22 sensor ids: \n', DHT22['sensor_id'].value_counts())

#count unique values in value type
print('\n DHT22 value type: \n', DHT22['value_type'].value_counts())

# location for sds011
print('DHT22 locations: \n', DHT22['location'].unique())

DHT22 sensor ids:
 94      1347724
50       714108
139      554038
177      438724
72       373014
141      251894
845      183020
159      162252
793      144390
104      123680
809       52970
88        50942
173       41288
4772      30052
175       19750
74        16300
62         2256
223        1430
4789        166
110          72
Name: sensor_id, dtype: int64

 DHT22 value type:
 humidity       2254035
temperature    2254035
Name: value_type, dtype: int64
DHT22 locations:
 ['riruta' 'haile_sellasie' 'kinoo' 'roysambu' 'mukuru' 'kileleshwa'
 'muthangari' 'lavington' 'ngong_rd' 'syokimau' 'mlolongo' 'valley_arcade'
 'harambee_avenue' 'mathare' 'new_muthaiga' 'langata' 'ruaka']

In [35]:
# match sensor id to sensor type

# loc pms5003
pms5003= sensor_data.loc[(sensor_data['sensor_type'] == 'pms5003')]

# count unique values in the sensor id
print('pms5003 sensor ids: \n', pms5003['sensor_id'].value_counts())

#count unique values in value type
print('\n pms5003 value type: \n', pms5003['value_type'].value_counts())

# location for sds011
print('pms5003 locations: \n', pms5003['location'].unique())

pms5003 sensor ids:
 93      2177952
49      1070895
138      830526
178      760875
71       591414
174      428280
140      383268
158      288966
844      274416
792      218778
61        88977
808       80280
87        75387
4771      47439
176       28944
73        23421
224        2157
4786        166
Name: sensor_id, dtype: int64

 pms5003 value type:
 PM10     2457408
PM2.5    2457408
PM1      2457325
Name: value_type, dtype: int64
pms5003 locations:
 ['riruta' 'kinoo' 'haile_sellasie' 'roysambu' 'muthangari' 'kileleshwa'
 'ngong_rd' 'syokimau' 'mlolongo' 'valley_arcade' 'mukuru'
 'harambee_avenue' 'mathare' 'new_muthaiga' 'langata' 'ruaka']

In [39]:
sensor_data.sample()

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value,day,hour,time
420851,94,DHT22,haile_sellasie,-1.292,36.821,2022-05-30 20:20:15.810129,temperature,22.7,Monday,20,Evening

In [22]:
# selecting rows based on value type 
data_pm1 = sensor_data.loc[sensor_data['value_type'] == 'PM1']
data_pm2_5 = sensor_data.loc[sensor_data['value_type'] == 'PM2.5' ]
data_pm10 = sensor_data.loc[sensor_data['value_type'] == 'PM10']
data_hum = sensor_data.loc[sensor_data['value_type'] == 'humidity']
data_temp = sensor_data.loc[sensor_data['value_type'] == 'temperature']

In [41]:
# data_pm2_5 = sensor_data.loc[sensor_data['value_type'] == 'PM2.5' ].reset_index()

In [23]:
data_pm2_5.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value,day,hour,time
1,71,pms5003,riruta,-1.297,36.743,2021-11-01 00:00:16.023904,PM2.5,13.6,Monday,0,Late Night
4,158,pms5003,kinoo,-1.255,36.693,2021-11-01 00:00:16.320020,PM2.5,87.2,Monday,0,Late Night
9,93,pms5003,haile_sellasie,-1.292,36.821,2021-11-01 00:00:21.263951,PM2.5,9.6,Monday,0,Late Night
16,844,pms5003,roysambu,-1.218,36.887,2021-11-01 00:00:24.731908,PM2.5,14.0,Monday,0,Late Night
21,174,pms5003,muthangari,-1.261,36.782,2021-11-01 00:00:26.807988,PM2.5,11.25,Monday,0,Late Night

In [43]:
data_pm10.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value,day,hour,time
0,71,pms5003,riruta,-1.297,36.743,2021-11-01 00:00:16.023904,PM10,13.6,Monday,0,Late Night
3,158,pms5003,kinoo,-1.255,36.693,2021-11-01 00:00:16.320020,PM10,72.0,Monday,0,Late Night
8,93,pms5003,haile_sellasie,-1.292,36.821,2021-11-01 00:00:21.263951,PM10,8.6,Monday,0,Late Night
15,844,pms5003,roysambu,-1.218,36.887,2021-11-01 00:00:24.731908,PM10,13.5,Monday,0,Late Night
20,174,pms5003,muthangari,-1.261,36.782,2021-11-01 00:00:26.807988,PM10,11.25,Monday,0,Late Night

In [24]:
# add classification column

def pm2_class(pm25):
    quality = []
    
    for pm25 in data_pm2_5['value']:
        if float(pm25) < 12:
            quality.append('good') #green
        elif float(pm25) < 35.4:
            quality.append('moderate') #yellow
        elif float(pm25) < 55.4:
            quality.append('unhealthy for sensitive group') #orange
        elif float(pm25) < 150.4:
            quality.append('unhealthy') #red
        elif float(pm25) > 150.5:
            quality.append('very unhealthy') #purple
        else:
            quality.append('not rated')

    data_pm2_5['quality'] = quality        
pm2_class(data_pm2_5)

#pm10 classification
def pm10_class(pm10):
    quality = []
    
    for pm10 in data_pm10['value']:
        if float(pm10) < 54:
            quality.append('good')
        elif float(pm10) < 154:
            quality.append('moderate')
        elif float(pm10) < 254:
            quality.append('unhealthy for sensitive group')
        elif float(pm10) < 354:
            quality.append('unhealthy')
        elif float(pm10) >= 355:
            quality.append('very unhealthy')
        else:
            quality.append('not rated')

    data_pm10['quality'] = quality        
pm10_class(data_pm10)

# humidity classification
def hum_class(hum):
    quality = []
    
    for hum in data_hum['value']:
        if float(hum) < 50:
            quality.append('low')
        elif float(hum) < 80:
            quality.append('high')
        elif float(hum) < 80:
            quality.append('very high')
        else:
            quality.append('not rated')

    data_hum['quality'] = quality        
hum_class(data_hum)    

# temperature classification
def temp_class(temp):
    quality = []    

    for temp in data_temp['value']:
        if float(temp) < 10:
            quality.append('very cold')
        elif float(temp) < 20:
            quality.append('cold')
        elif float(temp) < 27:
            quality.append('good')
        elif float(temp) < 35:
            quality.append('hot')
        elif float(temp) > 35:
            quality.append('very hot')
        else:
            return'not rated'
        
    data_temp['quality'] = quality        
temp_class(data_temp)

C:\Users\a\AppData\Local\Temp\ipykernel_16244\2706392488.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_pm2_5['quality'] = quality
C:\Users\a\AppData\Local\Temp\ipykernel_16244\2706392488.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_pm10['quality'] = quality
C:\Users\a\AppData\Local\Temp\ipykernel_16244\2706392488.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hum['quality'] = quality

'not rated'

In [25]:
data_pm2_5.head()

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value,day,hour,time,quality
1,71,pms5003,riruta,-1.297,36.743,2021-11-01 00:00:16.023904,PM2.5,13.6,Monday,0,Late Night,moderate
4,158,pms5003,kinoo,-1.255,36.693,2021-11-01 00:00:16.320020,PM2.5,87.2,Monday,0,Late Night,unhealthy
9,93,pms5003,haile_sellasie,-1.292,36.821,2021-11-01 00:00:21.263951,PM2.5,9.6,Monday,0,Late Night,good
16,844,pms5003,roysambu,-1.218,36.887,2021-11-01 00:00:24.731908,PM2.5,14.0,Monday,0,Late Night,moderate
21,174,pms5003,muthangari,-1.261,36.782,2021-11-01 00:00:26.807988,PM2.5,11.25,Monday,0,Late Night,good

In [27]:
sensor_data = pd.concat([data_hum,data_pm1,data_pm10,data_pm2_5,data_temp])
sensor_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12003919 entries, 6 to 719589
Data columns (total 12 columns):
 #   Column       Dtype
---  ------       -----
 0   sensor_id    int64
 1   sensor_type  object
 2   location     object
 3   lat          float64
 4   lon          float64
 5   timestamp    datetime64[ns]
 6   value_type   object
 7   value        object
 8   day          object
 9   hour         int64
 10  time         object
 11  quality      object
dtypes: datetime64[ns](1), float64(2), int64(2), object(7)
memory usage: 1.2+ GB

In [28]:
# store the datasets
%store data_hum
%store data_pm10
%store data_pm2_5
%store data_temp
%store sensor_data

Stored 'data_hum' (DataFrame)
Stored 'data_pm10' (DataFrame)
Stored 'data_pm2_5' (DataFrame)
Stored 'data_temp' (DataFrame)
Stored 'sensor_data' (DataFrame)

In [ ]:
# findcorrelation of pm2.5, humidity, temp df.corr

In [1]:
import pandas as pd
import numpy as np

In [3]:
sen_data = pd.read_csv(r'E:\Users\admin\air-quality-project\sensor_data.csv')

C:\Users\a\AppData\Local\Temp\ipykernel_20188\3199284805.py:1: DtypeWarning: Columns (8,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sen_data = pd.read_csv(r'E:\Users\admin\air-quality-project\sensor_data.csv')

In [5]:
print(sen_data['value_type'].unique())

['humidity' 'PM1' 'PM10' 'PM2.5' 'temperature']

In [6]:
sen_data.head()

,Unnamed: 0,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value,day,hour,time,quality
0,6,72,DHT22,riruta,-1.297,36.743,2021-11-01 00:00:17.683922,humidity,99.9,Monday,0,Late Night,not rated
1,11,94,DHT22,haile_sellasie,-1.292,36.821,2021-11-01 00:00:22.075974,humidity,82.8,Monday,0,Late Night,not rated
2,13,159,DHT22,kinoo,-1.255,36.693,2021-11-01 00:00:22.119959,humidity,93.2,Monday,0,Late Night,not rated
3,18,845,DHT22,roysambu,-1.218,36.887,2021-11-01 00:00:25.563912,humidity,78.5,Monday,0,Late Night,high
4,26,94,DHT22,haile_sellasie,-1.292,36.821,2021-11-01 00:00:54.272041,humidity,82.8,Monday,0,Late Night,not rated

In [7]:
sen_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12003919 entries, 0 to 12003918
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   sensor_id    int64
 2   sensor_type  object
 3   location     object
 4   lat          float64
 5   lon          float64
 6   timestamp    object
 7   value_type   object
 8   value        object
 9   day          object
 10  hour         int64
 11  time         object
 12  quality      object
dtypes: float64(2), int64(3), object(8)
memory usage: 1.2+ GB

In [8]:
pd.to_datetime(sen_data['timestamp'])

0          2021-11-01 00:00:17.683922
1          2021-11-01 00:00:22.075974
2          2021-11-01 00:00:22.119959
3          2021-11-01 00:00:25.563912
4          2021-11-01 00:00:54.272041
                      ...
12003914   2022-11-26 10:42:12.512925
12003915   2022-11-26 10:42:34.007930
12003916   2022-11-26 10:42:44.730068
12003917   2022-11-26 10:43:00.591119
12003918   2022-11-26 10:43:06.318802
Name: timestamp, Length: 12003919, dtype: datetime64[ns]

In [ ]:
sen_data['timestamp']

In [ ]:
# mean of each day
# air_quality.groupby(
   # ....:     [air_quality["datetime"].dt.weekday, "location"])["value"].mean()