# JENGA SCHOOL OF DATA SCIENCE AND AI



### CRISP-DM METHODOLODY FOR AIR QUALITY TRACKING IN NAIROBI, KENYA


### SIFA KINOTI


### SUPERVISOR: DR. LAWRENCE NDERU







#### AUGUST 2022

### Table of Contents

* [1. Overview](#Overview)

* [2. CRISP-DM Methodology](#CRISP_DM_Methodology)
    
* [3. Business Understanding](#Business_Understanding)
    * [3.1 Business Objectives](#Business_Objectives)
    * [3.2 Resources availability](#Resources_availability)
    * [3.3 Risks and contingencies](#Risks_and_contingencies)
    * [3.4 Data mining goals](#Data_mining_goals)
    * [3.5 Project plan](#Project_plan)
    
* [4. Data Understanding](#Data_Understanding)
    * [4.1 Collect initial data](#Collect_initial_data)
    * [4.2 Describe data](#Describe_data)
    * [4.3 Explore data](#Explore_data)
    * [4.4 Verify data quality](#Verify_data_quality)
    
* [5. Data Preparation](#Data_Preparation)
    * [5.1 Data cleaning](#Data_cleaning)
    * [5.2 Data construction](#Data_construction)
    * [5.3 Data integration](#Data_integration)
    
* [6. Preparing the model](#Preparing_the_model)
    * [6.1 Selecting the modelling technique](#Selecting_the_modelling_technique)
    * [6.2 Generating the test design](#Generating_the_test_design)
    * [6.3 Building the model](#Building_the_model)
    * [6.4 Assessing the model](#Assessing_the_model)

* [7. Model Evaluation](#Model_Evaluation)
    * [7.1 Evaluating the results](#Evaluating_the_results)
    * [7.2 Reviewing the process](#Reviewing_the_process)
    * [7.3 Determining the next steps](#Determining_the_next_steps)
    * [7.4 Assessing the model](#Assessing_the_model)

* [8. Model deployment](#Model_deployment)
    * [8.1 Planning the deployment](#Planning_the_deployment)
    * [8.2 Planning the monitoring and maintenance](#Planning_the_monitoring_and_maintenance)
    * [8.3 Producing the final report](#Producing_the_final_report)
    * [8.4 Presenting the project](#Presenting_the_project)

### 1. Overview <a class="anchor" id="Overview"></a>

Clean air is essential to the wellbeing of our planet and its inhabitants as all living beings require it for survival. Unfortunately, over the years, our air has become dirtier through human activities, consequently negatively affecting the environment, global health and economy. The World Health Organization (WHO) reports on six major air pollutants, namely particle pollution/ particulate matter (PM), ground-level ozone, carbon monoxide, sulphur oxides, nitrogen oxides, and lead. These pollutants majorly emanate from transport related emmissions (cars, planes, ships), burning of fossil fuels in industrial plants and homesteads, wastewaters and metals, agriculture and chemical reactions between the different pollutants. Other significant sources of pollution include Volatile Organic Compounds (VOCs), methane, dust and aerosols.

Air pollution is the major cause of climate change, which according to the World Economic Forum, is the biggest challenge of the 21st century. The Global Risks Report of 2022 reports that climate-change related risks account for three of the top risks by severity in the next 10 years. Clearly, climate change is a real threat to the global economy, and scaling down, it is also a major threat to the Kenyan economy. Furthermore, the WHO reports that an average of 7 million people a year die from air pollution complications. Exposure to high levels of air pollution increases the risk of heart diseases, neurological disorders, lung cancer and respiratory infections. It has also been related to excessive premature mortality. It has been found that exposure to air pollution also negatively affects our cognitive ability, decision making, risk attitude and dementia.

In order to combat air pollution, we need to understand the pollutants in the air at a given time, where they come from and their long term effects. With such knowledge, we should be able to give suggestions to improve the situation. However, without knowing which pollutants are present, in which quantities and locations, one may not be able to suggest a proper solution. In the developed world, most of the solutions to beating air pollution revolve around cutting down on fossil fuel consumption. They do this by switching to greener forms of energy for their transport and electricity needs. This comes after the realization that most of the pollution present comes from coal plantations. (on biases add on indoor pollution, assumption of switching to greener sources of energy, assumption of zones of high pollution, areas of construction pollution) In Nairobi, Kenya, however, data on air pollution is scarse, therefore we are not in the best poisiton to draw the most useful insights. Through this project, we hope to raise awareness and scale up efforts in air pollution tracking in the city.

This data science project, therefore, seeks to analyse the air pollution in Nairobi, Kenya. We will analyse previous data containing the level of pollutants as well as mapping air quality in the city. We will be able to identify the major pollutants and where most of the pollution comes from. We will also build a predictive model, to be able to predict the air quality. This project can be applied by law and policy making bodies when making decisions related to air quality management as well as curious citizens who are interested to know the state of the air they breathe. Through deeper analysis we should be able to recommend solutions to air pollution in Nairobi. We should also be able to track the effects of air pollution in the city eventally.

We will source our data from the following websites: first is sensor Africa. They provide open source sensor data on air quality, specifically measuring PM2.5 values across Africa. We also have OpenAq, which is also an open source sensor data on air quality across the world measuring different pollutants. Finally we have the World Development Indicators databank developed by World Bank. Eventually, we will incorporate Sentinel 5P data from Copernicus, which is open sourse satellite data on air pollution.

## 2. CRISP-DM Methodology  <a class="anchor" id="CRISP_DM_Methodology"></a>


Crisp–DM is a widely used framework that stands for Cross Industry Standard Process for Data Mining. As the name suggests, it is a standard process for managing data science projects. It is a uniform framework that can be implemented in any data science project and allows for project replication. CRISP-DM is organized into six tasks, as you will see in this document. 

The first is business understanding, where the business goals and data mining goals are underlined. Second is data understanding where the data needed for the project is collected, described and explored in order to understand it and verify its quality to be used in the project. Third is data preparation where the data is prepared for modelling through cleaning, merging and other techniques. Fourth is preparing the model, where a suitable alorithm is chosen, built and tested. Fifth is evaluation where the results of the model are evaluated and the process is reviewed. Finally we have deployment where the model is prapared to be deployed in the industry. 

The benefits of using this framework is that it organizes one's workflow by breaking down the objectives into smaller and more specific and time bound tasks. CRISP-DM is cost effective and thus recommended as best practice.

## 3. Business Understanding <a class="anchor" id="Business_Understanding"></a>


### 3.1 Business Objectives <a class="anchor" id="Business_Objectives"></a>

This project aims to map and track air quality in Nairobi, Kenya. Through this project, a user should be able to identify and track various pollutants in the city. They should also be able to see how air quality in the city has changed over time. The user will be able to identify zones of high pollution and draw conclusion on how to combat pollution within the city. This will be enabled through an interactive web app. The project is part of air quality management process as it will visualize data that concerned citizens and policy makers can draw useful insights for in the fight against air pollution. With time, the project will be made open-source so as to invite collaborators to make the tracker more insightful.

### 3.2 Resources availability <a class="anchor" id="Resources_availability"></a>

The biggest resource needed is data. We will incorporate different kinds of data in this project including but not limited to: open source sensor data, world air quality tracking data, Sentinel 5P data, geodata in order to locate features such as transport systems, industries, homesteads and global air quality indices.

### 3.3 Risks and contingencies <a class="anchor" id="Risks_and_contingencies"></a>

The risks present in conducting this project include not getting sufficient data. This is especially likely for real time data across different locations in Nairobi. There is also a risk of not getting all pollutant data as PM 2.5 and CO2 data is more available than other pollutant data. This can lead to biased conclusions. The project, being long-term, presents a risk of being too advanced for my level of expertise. To curb these risks the project will be made open source afrer the presentation. 

### 3.4	Data mining goals <a class="anchor" id="Data_mining_goals"></a>

The goal of the project is to develop a web app that will visualise, analyze and predict air quality in Nairobi. We will develop a map of Nairobi that will identify the different pollutants in the air at a given time. We will conduct analysis through linear regression models so as to understand the trend of air pollution in the city. We will also predict the air quality status of the next day, given certain parameters. On the webiste we shall give the comparison between the accepted air quality index and the real time index. Through the website, law and policy makers can draw useful insights on how to mitigate air pollution in the city.

###  3.5 Project plan <a class="anchor" id="Project_Plan"></a>
    
| OBJECTIVES                                 | TASKS                                                                                                                                                                                                                                                                                                                                                                                                                                   | TIMELINE |   |   |
|--------------------------------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|----------|---|---|
| Researching on air pollution metrics       | -Reading academic papers on air quality management to understand the different pollutants and the metrics used in gauging air quality<br>-Consulting an expert in the field on air pollution and the various ways this project could be of benefit<br>-Attending at least 1 webinar/ training on air quality management<br>-Enrol in a short online course (e.g. on coursera, udemy) in order to understand air quality mapping better* | 5 weeks  |   |   |
| Researching on deep learning architectures | -Read articles on the various deep learning algorithms experimented with in the past<br>-Learn the various new deep learning algorithms previously not encountered<br>-Consult a specialist on the same<br>-Research on algorithms dealing with spatio-temporal mapping, satellite imagery and air pollution                                                                                                                            | 4 weeks  |   |   |
| Data Understanding                         | -Collecting the data<br>-Exploring the data<br>-Describing the data<br>-Verifying the data quality                                                                                                                                                                                                                                                                                                                                      | 3 weeks  |   |   |
| Data Preparation                           | -Data cleaning<br>-Data construction<br>-Data integration                                                                                                                                                                                                                                                                                                                                                                               | 3 weeks  |   |   |
| Preparing the model                        | -Selecting the modelling technique<br>-Generating the test design<br>-Building the model<br>-Assessing the model                                                                                                                                                                                                                                                                                                                        | 6 weeks  |   |   |
| Model Evaluation                           | -Evaluating the results<br>-Reviewing the process <br>-Determining the next steps                                                                                                                                                                                                                                                                                                                                                       | 2 weeks  |   |   |
| Model deployment                           | -Planning the deployment<br>-Planning the monitoring and maintenance<br>-Producing the final report<br>-Presenting the project                                                                                                                                                                                                                                                                                                          | 2 weeks  |   |   |

## 4. Data Understanding <a class="anchor" id="Data_Understanding"></a>
In this sector, we are going to visualize the data, plot the coordinates, identify outliers, plot timeseries graphs, identify patterns in the data.

### 4.1 Collect initial data <a class="anchor" id="Collect_initial_data"></a>

In [ ]:
!pip install python-aqi

In [ ]:
# import the necessary packages
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime
import aqi
from decimal import Decimal

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# read November sensor data csv
nov21 = pd.read_csv("/content/drive/MyDrive/sensor data/november_2021_sensor_data_archive.csv", sep = ';')

In [ ]:
# read December Sensor Data csv
dec21 = pd.read_csv("/content/drive/MyDrive/sensor data/december_2021_sensor_data_archive.csv", sep = ';')

In [ ]:
# read January Sensor Data csv
jan22 = pd.read_csv("/content/drive/MyDrive/sensor data/january_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
# read February Sensor csv
feb22 = pd.read_csv("/content/drive/MyDrive/sensor data/february_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
# read March Sensor csv
march22 = pd.read_csv("/content/drive/MyDrive/sensor data/march_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
# read April Sensor csv
april22 = pd.read_csv("/content/drive/MyDrive/sensor data/april_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
# read May Sensor csv
may22 = pd.read_csv("/content/drive/MyDrive/sensor data/may_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
# read June Sensor csv
june22 = pd.read_csv("/content/drive/MyDrive/sensor data/june_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
# read July Sensor csv
july22 = pd.read_csv("/content/drive/MyDrive/sensor data/july_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
# read August Sensor csv
aug22 = pd.read_csv("/content/drive/MyDrive/sensor data/august_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
# read September Sensor csv
sept22 = pd.read_csv("/content/drive/MyDrive/sensor data/september_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
# read October Sensor csv
oct22 = pd.read_csv("/content/drive/MyDrive/sensor data/october_2022_sensor_data_archive.csv", sep = ';', low_memory = False)

In [ ]:
# read November 2022 Sensor csv
nov22 = pd.read_csv("/content/drive/MyDrive/sensor data/november_2022_sensor_data_archive.csv", sep = ';')

In [ ]:
sensor_data = pd.concat([nov21, dec21, jan22, feb22, march22, april22, may22, june22, july22, aug22, sept22, oct22, nov22])

### 4.2 Describe data <a class="anchor" id="Describe_data"></a>
In this space, we shall describe the collected data

In [ ]:
sensor_data.head(20)

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value
0,71,pms5003,35,-1.297,36.743,2021-11-01T00:00:16.023904+00:00,P2,13.6
1,71,pms5003,35,-1.297,36.743,2021-11-01T00:00:16.023904+00:00,P1,13.6
2,71,pms5003,35,-1.297,36.743,2021-11-01T00:00:16.023904+00:00,P0,7.0
3,158,pms5003,33,-1.255,36.693,2021-11-01T00:00:16.320020+00:00,P2,72.0
4,158,pms5003,33,-1.255,36.693,2021-11-01T00:00:16.320020+00:00,P1,87.2
5,158,pms5003,33,-1.255,36.693,2021-11-01T00:00:16.320020+00:00,P0,63.2
6,72,DHT22,35,-1.297,36.743,2021-11-01T00:00:17.683922+00:00,humidity,99.9
7,72,DHT22,35,-1.297,36.743,2021-11-01T00:00:17.683922+00:00,temperature,18.6
8,93,pms5003,18,-1.292,36.821,2021-11-01T00:00:21.263951+00:00,P2,8.6
9,93,pms5003,18,-1.292,36.821,2021-11-01T00:00:21.263951+00:00,P1,9.6
10,93,pms5003,18,-1.292,36.821,2021-11-01T00:00:21.263951+00:00,P0,5.0
11,94,DHT22,18,-1.292,36.821,2021-11-01T00:00:22.075974+00:00,humidity,82.8
12,94,DHT22,18,-1.292,36.821,2021-11-01T00:00:22.075974+00:00,temperature,22.3
13,159,DHT22,33,-1.255,36.693,2021-11-01T00:00:22.119959+00:00,humidity,93.2
14,159,DHT22,33,-1.255,36.693,2021-11-01T00:00:22.119959+00:00,temperature,16.7
15,844,pms5003,46,-1.218,36.887,2021-11-01T00:00:24.731908+00:00,P2,13.5
16,844,pms5003,46,-1.218,36.887,2021-11-01T00:00:24.731908+00:00,P1,14.0
17,844,pms5003,46,-1.218,36.887,2021-11-01T00:00:24.731908+00:00,P0,9.0
18,845,DHT22,46,-1.218,36.887,2021-11-01T00:00:25.563912+00:00,humidity,78.5
19,845,DHT22,46,-1.218,36.887,2021-11-01T00:00:25.563912+00:00,temperature,21.6

In [ ]:
sensor_data.describe()

          sensor_id      location           lat           lon
count  1.200392e+07  1.200392e+07  1.200392e+07  1.200392e+07
mean   1.950063e+02  8.551839e+02 -1.309095e+00  3.684130e+01
std    4.187444e+02  1.488441e+03  5.229185e-02  6.688591e-02
min    4.900000e+01  7.000000e+00 -1.421000e+00  3.669300e+01
25%    8.800000e+01  1.800000e+01 -1.303000e+00  3.682100e+01
50%    9.400000e+01  4.600000e+01 -1.292000e+00  3.682500e+01
75%    1.580000e+02  7.800000e+01 -1.289000e+00  3.688700e+01
max    4.789000e+03  3.580000e+03 -1.206000e+00  3.695300e+01

In [ ]:
sensor_data.info()

In [ ]:
# Checking the missing values
sensor_data.isnull().sum()

In [ ]:
# look for duplicate values
data_duplicates = sensor_data.duplicated()
print("duplicates sum ", data_duplicates.sum())

In [ ]:
# shape
sensor_data.shape

In [ ]:
# convert data datetime
sensor_data['timestamp'] = sensor_data['timestamp'].astype("datetime64")

In [ ]:
# rename the value types
sensor_data['value_type'] = sensor_data['value_type'].replace(['P2', 'P1', 'P0'], ['PM10', 'PM2.5', 'PM1'])

In [ ]:
# find out how many locations are in the data
locations= sensor_data['location'].unique()
counted= sensor_data['location'].nunique()
print('data locations: ',locations, 'count: ', counted)

In [ ]:
# create a dataframe with just locations to plot
loc_df = sensor_data.groupby(['location','lat', 'lon']).agg(lambda x: ','.join(x.unique())).reset_index()
loc_df

In [ ]:
# plot and rename locations
plot_locations = px.scatter_mapbox(loc_df, 
                                lat='lat', 
                                lon='lon', 
                                color='location',
                                zoom=9, 
                                mapbox_style='open-street-map')
plot_locations.show()

In [ ]:
# rename the locations
sensor_data['location'] = sensor_data['location'].replace([33, 18, 37, 77, 76, 46,35,7, 71, 67, 78, 40, 34, 3579, 3573, 3576, 3580], 
                                              ['kinoo','haile_sellasie','mukuru','kileleshwa', 'muthangari','roysambu', 
                                               'riruta', 'ngong_rd', 'lavington', 'syokimau', 'mlolongo', 
                                               'valley_arcade', 'ruaka', 'new_muthaiga', 'harambee_avenue', 'mathare', 'langata'])

In [ ]:
# add day column
sensor_data['day'] = sensor_data['timestamp'].dt.day_name()

In [ ]:
# add time clasification column
sensor_data['hour'] = sensor_data['timestamp'].dt.hour
def time_class(x):
    if (x > 4) and (x <= 8):
        return 'Early Morning'
    elif (x > 8) and (x <= 12 ):
        return 'Morning'
    elif (x > 12) and (x <= 16):
        return'Noon'
    elif (x > 16) and (x <= 20) :
        return 'Evening'
    elif (x > 20) and (x <= 24):
        return'Night'
    elif (x <= 4):
        return'Late Night'
    
sensor_data['time'] = sensor_data['hour'].apply(time_class)

In [ ]:
# match sensor id to sensor type

# loc sds011
SDS011= sensor_data.loc[(sensor_data['sensor_type'] == 'SDS011')]

# count unique values in the sensor id
print('SDS011 sensor ids: \n', SDS011['sensor_id'].value_counts())

#count unique values in value type
print('\n SDS011 value type: \n', SDS011['value_type'].value_counts())

# location for sds011
print('SDS011 locations: \n', SDS011['location'].unique())

In [ ]:
# match sensor id to sensor type

# loc DHT22
DHT22= sensor_data.loc[(sensor_data['sensor_type'] == 'DHT22')]

# count unique values in the sensor id
print('DHT22 sensor ids: \n', DHT22['sensor_id'].value_counts())

#count unique values in value type
print('\n DHT22 value type: \n', DHT22['value_type'].value_counts())

# location for sds011
print('DHT22 locations: \n', DHT22['location'].unique())

In [ ]:
# match sensor id to sensor type

# loc pms5003
pms5003= sensor_data.loc[(sensor_data['sensor_type'] == 'pms5003')]

# count unique values in the sensor id
print('pms5003 sensor ids: \n', pms5003['sensor_id'].value_counts())

#count unique values in value type
print('\n pms5003 value type: \n', pms5003['value_type'].value_counts())

# location for sds011
print('pms5003 locations: \n', pms5003['location'].unique())

In [ ]:
sample = sensor_data.iloc[1:30]

In [ ]:
# loop through values to calculate aqi
AQI = [] #create list
for i in sample['value']:
  i = Decimal(i) #convert each row to decimal
  aqi_data = aqi.to_aqi([(aqi.POLLUTANT_PM25, i)]) #calculate aqi
  aqi_data = aqi_data.to_eng_string() #convert aqi to str
  AQI.append(aqi_data)  #append aqi to list
# print(AQI)

In [ ]:
# convert AQI to df and add to main df
AQI = pd.DataFrame(AQI)
sample['AQI'] = AQI
sample.head()

In [ ]:
# selecting rows based on value type 
data_pm1 = sensor_data.loc[sensor_data['value_type'] == 'PM1']
data_pm2_5 = sensor_data.loc[sensor_data['value_type'] == 'PM2.5' ]
data_pm10 = sensor_data.loc[sensor_data['value_type'] == 'PM10']
data_hum = sensor_data.loc[sensor_data['value_type'] == 'humidity']
data_temp = sensor_data.loc[sensor_data['value_type'] == 'temperature']

In [ ]:
# loop through values to calculate aqi
# sensor_data.reset_index()
# quality_index = [] #create list
for a in data_pm10['value']:
  a = Decimal(a) #convert each row to decimal
  aqi_sensor = aqi.to_aqi([(aqi.POLLUTANT_PM10, a)]) #calculate aqi
  # aqi_sensor = aqi_sensor.to_eng_string() #convert aqi to str
  # quality_index.append(aqi_sensor)  #append aqi to list

In [ ]:
# add aqi bucket
    
def pm2_class(pm2):
  if float(pm2) <= float(12):
      return'good' #green
  elif float(pm2) <= float(35.4):
      return'moderate' #yellow
  elif float(pm2) <= float(55.4):
      return'unhealthy for sensitive group' #orange
  elif float(pm2) <= float(150.4):
      return'unhealthy' #red
  elif float(pm2) >= float(150.5):
      return'very unhealthy' #purple
  else:
      return'not rated'
        
data_pm2_5['quality'] = data_pm2_5['value'].apply(pm2_class)

NameError: ignored

In [ ]:
# def value_class3(c):
    
#     for c in data_pm10['value']:
#         if c < 54:
#             return'good'
#         elif c < 154:
#             return'moderate'
#         elif c < 254:
#             return'unhealthy for sensitive group'
#         elif c < 354:
#             return'unhealthy'
#         elif c >= 355:
#             return'very unhealthy'
#         else:
#             return'not rated'

# def value_class4(d):
    
#     for d in data_hum['value']:
#         if d < 50:
#             return'low'
#         elif d < 80:
#             return'high'
#         elif d < 80:
#             return'very high'
#         else:
#             return'not rated'    

# def value_class5(e):    

#     for e in data_temp['value']:
#         if e < 10:
#             return'very cold'
#         elif e < 20:
#             return'cold'
#         elif e < 27:
#             return'good'
#         elif e < 35:
#             return'hot'
#         elif e > 35:
#             return'very hot'
#         else:
#             return'not rated'

In [ ]:
data_pm2_5.sample(15)

,sensor_id,sensor_type,location,lat,lon,timestamp,value_type,value,day,hour,time,PM2.5_SubIndex,quality
95170,174,pms5003,muthangari,-1.261,36.782,2022-03-06 03:42:27.870503,PM2.5,19.0,Sunday,3,Late Night,31.666667,moderate
324818,174,pms5003,muthangari,-1.261,36.782,2021-12-11 22:00:21.936983,PM2.5,18.8,Saturday,22,Night,31.333333,moderate
81884,93,pms5003,haile_sellasie,-1.292,36.821,2022-01-06 23:52:48.056293,PM2.5,8.0,Thursday,23,Night,13.333333,good
135773,140,pms5003,syokimau,-1.383,36.939,2022-07-03 02:02:48.627441,PM2.5,5.2,Sunday,2,Late Night,8.666667,good
303542,138,pms5003,syokimau,-1.383,36.939,2022-06-15 12:00:12.610481,PM2.5,33.0,Wednesday,12,Morning,55.000000,moderate
433734,71,pms5003,riruta,-1.297,36.743,2022-05-31 13:57:06.534653,PM2.5,85.0,Tuesday,13,Noon,183.333333,unhealthy
741659,138,pms5003,syokimau,-1.383,36.939,2022-07-12 06:29:34.094945,PM2.5,8.0,Tuesday,6,Early Morning,13.333333,good
94500,93,pms5003,haile_sellasie,-1.292,36.821,2022-08-03 11:13:56.925254,PM2.5,8.0,Wednesday,11,Morning,13.333333,good
614932,49,pms5003,harambee_avenue,-1.289,36.825,2022-09-14 17:48:04.516991,PM2.5,74.8,Wednesday,17,Evening,149.333333,unhealthy
1477638,792,pms5003,langata,-1.303,36.829,2022-09-30 10:10:33.255064,PM2.5,32.75,Friday,10,Morning,54.583333,moderate
762825,49,pms5003,syokimau,-1.383,36.939,2022-06-22 09:38:13.252129,PM2.5,16.5,Wednesday,9,Morning,27.500000,moderate
1721162,178,pms5003,mlolongo,-1.421,36.953,2022-07-27 13:50:35.236538,PM2.5,12.0,Wednesday,13,Noon,20.000000,good
356750,93,pms5003,haile_sellasie,-1.292,36.821,2022-10-07 20:57:29.427790,PM2.5,5.50,Friday,20,Evening,9.166667,good
704984,93,pms5003,haile_sellasie,-1.292,36.821,2022-08-16 00:48:34.983400,PM2.5,3.4,Tuesday,0,Late Night,5.666667,good
130161,138,pms5003,syokimau,-1.383,36.939,2022-07-02 23:41:28.540931,PM2.5,9.0,Saturday,23,Night,15.000000,good

In [ ]:
%store sensor_data
%store data_pm2_5

Stored 'sensor_data' (DataFrame)
Stored 'data_pm2_5' (DataFrame)

In [ ]:
#In this case we use fuction 'to_csv' and the filename will be what you want the name of your file to be.
data_pm2_5.to_csv('data_pm2_5.csv', index = False)

In [ ]:
!cp data_pm2_5.csv "/content/drive/MyDrive/sensor data"

In [ ]:
# name and store sensor data
sensor_data.to_csv('sensor_data.csv', index = False)
!cp sensor_data.csv '/content/drive/MyDrive/sensor data'